In [6]:
budget= int(input("Enter budget: "))
if budget>=30000:
    print("good to go")
else:
    print("no budget")

Enter budget:  25000

no budget

In [14]:
storage= str(input("Enter your storage: "))
if storage=='32GB':
    print("price is 15000")
elif storage=='64GB':
    print("price is 20000")
elif storage=='128GB':
    print("price is 30000")
elif storage=='256GB':
    print("price is 40000")
else:
    print("NA")

Enter your storage:  64GB

price is 20000

In [20]:
score1= int(input("enter first round score:"))
if score1 >= 80:
    print("eligible for second round.")

    score2= int(input("enter second round score:"))
    if score1 >= 70:
        print("eligible for third round.")    
        
        score3= int(input("enter third round score:"))
        if score3 >= 60:
            print("Selected")
        else:
            print("next time.")
    else:
        print("next time.")
else:
    print("next time.")

enter first round score: 80

eligible for second round.

enter second round score: 70

eligible for third round.

enter third round score: 60

Selected

In [34]:
marks= int(input('Enter your marks:'))
if marks>=80:
    print('group1')
elif marks>=60 and marks<80:
    print('group2')
elif marks>=40 and marks<60:
    print('group3')
else:
    print('NA')

Enter your marks: 90

group1

In [36]:
username= str(input('Username:'))
if username == 'admin':
    password= int(input('enter password:'))
    if password == 12345:
        print("login successful")
    else:
        print('login failed')
else:
    print("invalid user")

Username: admin
enter password: 123

login failed

In [40]:
price=40000
d1= 40000*(5/100)
d2= 40000*(10/100)
d3= 40000*(15/100)
d4= 40000*(20/100)
print("price1= ", 40000 - d1)
print("price2= ",40000 - d2)
print("price3= ",40000 - d3)
print("price4= ",40000 - d4)

price1=  38000.0
price2=  36000.0
price3=  34000.0
price4=  32000.0

In [46]:
# for looping
price=40000
dis_amount=[5,10,15,20]
for i in dis_amount:
    discounted=price*(i/100)
    final= price- discounted
    print("for", i ,"discount is:",final)

for 5 discount is: 38000.0
for 10 discount is: 36000.0
for 15 discount is: 34000.0
for 20 discount is: 32000.0

In [ ]:
#while

In [47]:
#CONTROL STATEMENTS[ break,continue,pass ]
#BREAK

In [2]:
list1= [1,3,'apple',5,6,8]
for i in list1:
    print(i)

1
3
apple
5
6
8

In [6]:
list1= [1,3,'apple',5,6,8]
for i in list1:
    print(i)
    break

1

In [8]:
list1= [1,3,'apple',5,6,8]
for i in list1:
    if i==5:
        break
    print(i)

1
3
apple

In [14]:
nums=[10,25,60,45,30,55,70]
for i in nums:
    if i>50:
        print(i,'rest sre greater')
        break

60 rest sre greater

In [34]:
#homework to make a UI
corrected_password='secret'
password= str(input('enter your password:'))
if password==corrected_password:
    print('login successful')
else:
    print("login unsuccessful")

enter your password: cndmcwk

login unsuccessful

In [40]:
#corrected_password='secret'
while True:
    password= str(input('enter your password:'))
    if password=='secret':
        break
    else:
        print('incorrect password, try again')
print('login successful')

enter your password: iubi

incorrect password, try again

enter your password: njn

incorrect password, try again

enter your password: nj]

incorrect password, try again

enter your password: nio

incorrect password, try again

enter your password: jn

incorrect password, try again

enter your password:

incorrect password, try again

enter your password: secret

login successful

In [ ]:
#CONTINUE

In [49]:
list1= [1,3,'apple',5,6,8]
for i in list1:
    continue
    print(i)

In [55]:
list1= [1,3,'apple',5,6,8]
for i in list1:
    if i==5:
        continue
    print(i)

1
3
apple
6
8

In [59]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for i in numbers:
    if i%2!=0:
        continue
    print(i)

2
4
6
8
10

In [61]:
numbers=[-2,5,-8,10,-3,15]
for i in numbers:
    if i<0:
        continue
    print(i)

5
10
15

In [63]:
numbers=[-2,5,-8,10,-3,15]
for i in numbers:
    if i>0:
        print(i)

5
10
15

In [99]:
#vowel counter
str=(input('Enter the string'))
count=0
for i in str:
    if i in ['a','e','i','o','u']:
        count+=1
print(count)

Enter the string hello world

3

In [ ]:
#program to accept a word from the user and reverse it.

In [ ]:
#PASS STATEMENT
#even number

In [6]:
def my_info(name,system_id):
    print('Name of student is',name,'and the id is',system_id)

In [8]:
my_info('shivani',2023248559)

Name of student is shivani and the id is 2023248559

In [37]:
def discountedPrice():
    price=40000 
    #can use for loop
    d1= price-40000*(5/100)
    d2= price-40000*(10/100)
    d3= price-40000*(15/100)
    d4= price-40000*(20/100)
    print(d1)
    print(d2)
    print(d3)
    print(d4)

In [39]:
discountedPrice()

38000.0
36000.0
34000.0
32000.0

In [15]:
def evenOrNot(A):
    if A%2==0:
        print('true')
    else:
        print('false')

In [29]:
A=int(input("enter a number to check:"))
evenOrNot(A)

enter a number to check: 23

false

In [45]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return factorial(n-1)*n

In [53]:
factorial(4)

24

In [55]:
#using map function
numbers=[1,2,3,4,5]
list(map(lambda x: x**2, numbers))

[1, 4, 9, 16, 25]

In [58]:
numbers= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x:x%2==0,numbers))

[2, 4, 6, 8, 10]

In [68]:
from functools import reduce
numbers=[1,2,3,4,5]
reduce(lambda x, y: x*y , numbers)

120

In [75]:
def power(a,b):
    return a**b
power(2,4)

16

In [2]:
def square():
    for i in range(1,31):
        print(i*i)
square()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900

In [97]:
from collections import defaultdict

keys = ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII']
values = [1, 2, 2, 3]

result_dict = defaultdict(set)

for key, value in zip(keys, values):
    result_dict[key].add(value) 

print(result_dict)

defaultdict(<class 'set'>, {'Class-V': {1}, 'Class-VI': {2}, 'Class-VII': {2}, 'Class-VIII': {3}})