In [24]:
print('hello world',2+2,'this is python',sep=' ')

hello world 4 this is python

In [36]:
print('hello world',2+2,'this is python')  #this is efficient
print('Apple')
print('\n')

print('hello world',2+2,'this is python',end='*')
print('Apple')
print('\n')

print('hello world',2+2,'this is python',end='\n')
print('Apple')

hello world 4 this is python
Apple


hello world 4 this is python*Apple


hello world 4 this is python
Apple

In [44]:
print('Shivani','Sharma',sep='_')
print('Shivani',end='_')
print('Sharma')

Shivani_Sharma
Shivani_Sharma

In [80]:
t1=(1,2,3,'apple',6)
print(t1)
print(type(t1))
print('\n')

l1=[1,2,3,'apple',6]
print(l1)
print(type(l1))
print('\n')
      
r1= range(0,5)
print(r1)
print(type(r1))

(1, 2, 3, 'apple', 6)
<class 'tuple'>


[1, 2, 3, 'apple', 6]
<class 'list'>


range(0, 5)
<class 'range'>

In [88]:
s1=['apple','mango','guava','grapes','watermelon']
print(s1)
s1.remove('watermelon')
print(s1)

['apple', 'mango', 'guava', 'grapes', 'watermelon']
['apple', 'mango', 'guava', 'grapes']

In [94]:
a=60
b=13
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>2)

12
61
49
-61
240
15

In [98]:
length=int(input("Enter the length:"))
width=int(input("Enter the width:"))
print(length*width)

Enter the length: 6
Enter the width: 3

18

In [100]:
num1=10
num2=3
print(num1%num2)
print(num1/num2)

1
3.3333333333333335

In [104]:
name=str(input("your name:"))
age=int(input("your age:"))
print("hello",name,"your age next year will be",age+1,"years")

your name: shivani
your age: 21

hello shivani your age next year will be 22 years

In [ ]:
num1=int(input('enter num1:'))
num2=int(input('enter num2:'))
sum=num1+num2
diff=num1-num2
product=num1*num2
quo=num1/num2
operation=str